<div class="ion-page" id="main-content">  
  <app-header Method="Spot"></app-header>
  <ion-content class="ion-padding">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/ce/8e/78/the-red-fort-is-a-historic.jpg"
      class="card-img-top rounded" alt="Designer desk">
    <div class="d-flex justify-content-between align-items-center my-4">
      <div class="Lasto700 fs-20">Vanarasi Tailor</div>
      <div class="d-flex align-items-center">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>
    </div>
    <div class="d-flex">
      <button class="btn btn-primary text-dark mr-2 mb-2 my-1 py-1 Lato400 fs-14" type="button" routerLink="../spot-detail">Overview</button>
      <button class="btn btn-primary text-dark mr-2 mb-2 my-1 py-1 Lato400 fs-14 ms-3" type="button" routerLink="../spot-review">Review and
        Ratings</button>
    </div>
    <div class="Lato600 fs-18 mt-3">Gallery</div>
    <app-photo-gallery></app-photo-gallery>
    <div class="Lato400 fs-14 mt-4">
      The joy of travel comes in exploring new things. Planting your feet somewhere you’ve never been before brings with
      it the rush of discovery and the joy of pushing back on the boundaries of your world.
      But when one does arrive at that fresh frontier, there are ways better than others to begin your journey of
      discovery. Follow these steps and see the world with a new light.
      • Discover a new city through a food tour. Food tour’s are the easiest way to take a tour, learn about the local
      delicacies, and the best of all, get great tips that aren’t just “local” tips for tourists, but sometimes, lessons
      for a lifetime too
    </div>
    <div class="mt-3">
      <div class="Lato600 fs-18">Other Spots</div>
      <app-spots></app-spots>
    </div>
  </ion-content>

</div>