<ng-container *ngIf="bookingType =='cabRide'">
  <div  class="rounded my-3 bg-primary border-light shadow-soft" *ngFor="let cabRide of cabRides">
    <ion-grid routerLink="/root/booking-details">
      
      <div class="d-flex justify-content-end w-100"><button class="btn btn-primary text-dark fs-14 Lato400 py-1 my-2 text-right" type="button">Guide Booking</button></div>
      <div class="d-flex align-items-center w-100">
       
        <ion-avatar style="min-height: 3.5rem; min-width: 5.3rem">
          <ion-img [src]="cabRide.vehicle.vehicleImage"></ion-img>
        </ion-avatar>
        <div class="w-100 pl-3">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div>
              <div class="Lato400 fs-14 ">{{cabRide.pickupStartDate.toDate() | date: 'dd MMMM yyyy'}}</div>
              <div class="Lato400 fs-14 ">{{cabRide.pickupStartDate.toDate() | date: 'hh:mm a'}}</div>
            </div>
            
          </div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <div>
              <div class="Lato400 fs-18 mt-2">Price : <b class="t-green">₹ 2500</b></div>
              <div class="Lato400 fs-14 ">Guide: Umesh Yadav</div>
            </div>
            <button class="btn btn-icon-only btn-primary mr-3" type="button" aria-label="love button" title="love button">
              <i class="fa-solid fa-phone"></i>
            </button>
          </div>
        </div>
      </div>
      <ion-row class="ion-justify-content-between ion-align-items-start ion-border">
        <ion-col size="1">
          <ion-icon name="ellipse" class="ion-margin-bottom" color="primary"></ion-icon>
          <ion-icon name="ellipse" color="secondary"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <p color="secondary" style="margin: 0; color: #212638; font-size: 0.8rem">
            {{cabRide.pickupLocation.address}}
          </p>
          <br />
          <p color="secondary" style="margin: 0; color: #212638; font-size: 0.8rem">
            {{cabRide.dropLocation}}
          </p>
        </ion-col>
      </ion-row>
      <div class="border py-2"></div>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="2">
          <ion-avatar style="height: 2rem; width: 2rem">
            <ion-img src="assets/avatar.jpg"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          Driver:
          <ion-text style="font-weight: 400; color: black; font-size: var(--ion-text)">
            Jake Sully</ion-text>
        </ion-col>
        <ion-col size="2" class=" ion-align-self-end">
          <button class="commonbutton">
            <ion-icon name="call"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-container>


<ng-container *ngIf="bookingType =='renting'" >
  <div  *ngFor="let cabRide of rentals"
  class="card bg-primary border-light shadow-soft p-3 d-flex align-items-center justify-content-between" routerLink="/root/booking-details">
  <div class="d-flex justify-content-end w-100"><button class="btn btn-primary text-dark fs-14 Lato400 py-1 my-2" type="button">Rental</button></div>
  <div class="d-flex align-items-center w-100">
    <ion-avatar style="min-height: 3.5rem; min-width: 5.3rem">
      <ion-img  [src]="cabRide.vehicle.vehicleImage"></ion-img>
    </ion-avatar>
    <div class="w-100 pl-3">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>
          <div class="Lato400 fs-14 ">{{cabRide.pickupStartDate.toDate() | date: 'dd MMMM yyyy'}}</div>
          <div class="Lato400 fs-14 ">{{cabRide.pickupStartDate.toDate() | date: 'hh:mm a'}}</div>
        </div>
        
      </div>
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>
          <div class="Lato400 fs-18 mt-2">Price : <b class="t-green">₹ 2500</b></div>
          <div class="Lato400 fs-14 ">Guide: Umesh Yadav</div>
        </div>
        <button class="btn btn-icon-only btn-primary mr-3" type="button" aria-label="love button" title="love button">
          <i class="fa-solid fa-phone"></i>
        </button>
      </div>
    </div>
  </div>






</div>
</ng-container>

<ng-container *ngIf="bookingType =='guide'" >
  <div  *ngFor="let cabRide of guide" routerLink="/root/booking-details"
  class="card bg-primary border-light shadow-soft p-3 d-flex align-items-center justify-content-between my-2">
  <div class="d-flex justify-content-end w-100"><button class="btn btn-primary text-dark fs-14 Lato400 py-1 my-2" type="button">Guide Booking</button></div>
  <div class="d-flex align-items-center w-100">
    <ion-avatar style="min-height: 5.3rem; min-width: 5.3rem">
      <ion-img  src="https://us.123rf.com/450wm/lacheev/lacheev2109/lacheev210900016/173818773-portrait-of-happy-clever-intelligent-young-man-in-glasses-looking-at-camera-and-smiling-headshot-of.jpg?ver=6"></ion-img>
    </ion-avatar>
    <div class="w-100 pl-3">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>
          <div class="Lato400 fs-14 ">{{cabRide.pickupStartDate.toDate() | date: 'dd MMMM yyyy'}}</div>
          <div class="Lato400 fs-14 ">{{cabRide.pickupStartDate.toDate() | date: 'hh:mm a'}}</div>
        </div>
        
      </div>
      <div class="d-flex justify-content-between align-items-center w-100">
        <div>
          <div class="Lato400 fs-18 mt-2">Price : <b class="t-green">₹ 2500</b></div>
          <div class="Lato400 fs-14 ">Guide: Umesh Yadav</div>
        </div>
        <button class="btn btn-icon-only btn-primary mr-3" type="button" aria-label="love button" title="love button">
          <i class="fa-solid fa-phone"></i>
        </button>
      </div>
    </div>
  </div>






</div>
</ng-container>


<ng-container *ngIf="bookingType =='outstations'">
  <div  class="rounded my-3 bg-primary border-light shadow-soft" *ngFor="let cabRide of outstations">
    <ion-grid routerLink="/root/booking-details">
      
      <div class="d-flex justify-content-end w-100"><button class="btn btn-primary text-dark fs-14 Lato400 py-1 my-2 text-right" type="button">Guide Booking</button></div>
      <div class="d-flex align-items-center w-100">
       
        <ion-avatar style="min-height: 3.5rem; min-width: 5.3rem">
          <ion-img [src]="cabRide.vehicle.vehicleImage"></ion-img>
        </ion-avatar>
        <div class="w-100 pl-3">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div>
              <div class="Lato400 fs-14 ">{{cabRide.pickupStartDate.toDate() | date: 'dd MMMM yyyy'}}</div>
              <div class="Lato400 fs-14 ">{{cabRide.pickupStartDate.toDate() | date: 'hh:mm a'}}</div>
            </div>
            
          </div>
          <div class="d-flex justify-content-between align-items-center w-100">
            <div>
              <div class="Lato400 fs-18 mt-2">Price : <b class="t-green">₹ 2500</b></div>
              <div class="Lato400 fs-14 ">Guide: Umesh Yadav</div>
            </div>
            <button class="btn btn-icon-only btn-primary mr-3" type="button" aria-label="love button" title="love button">
              <i class="fa-solid fa-phone"></i>
            </button>
          </div>
        </div>
      </div>
      <ion-row class="ion-justify-content-between ion-align-items-start ion-border">
        <ion-col size="1">
          <ion-icon name="ellipse" class="ion-margin-bottom" color="primary"></ion-icon>
          <ion-icon name="ellipse" color="secondary"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <p color="secondary" style="margin: 0; color: #212638; font-size: 0.8rem">
            {{cabRide.pickupLocation.address}}
          </p>
          <br />
          <p color="secondary" style="margin: 0; color: #212638; font-size: 0.8rem">
            {{cabRide.dropLocation.address}}
          </p>
        </ion-col>
      </ion-row>
      <div class="border py-2"></div>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="2">
          <ion-avatar style="height: 2rem; width: 2rem">
            <ion-img src="assets/avatar.jpg"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          Driver:
          <ion-text style="font-weight: 400; color: black; font-size: var(--ion-text)">
            Jake Sully</ion-text>
        </ion-col>
        <ion-col size="2" class=" ion-align-self-end">
          <button class="commonbutton">
            <ion-icon name="call"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-container>

