<ng-container *ngFor="let tour of Tours">
  <div class="card bg-primary shadow-soft border-light mb-3" routerLink="/root/tours-details/{{tour?.id}}">
    <div class="row no-gutters align-items-center">
      <div class="col-5 col-sm-5">
        <img [src]="tour?.images[0]" style="object-fit: cover; height: 90px; border-radius: 10px;" class="card-img rounded-left px-2"
          alt="Artist desk">
      </div>
      <div class="col-7 col-sm-7">
        <div class="px-2">
          <div class="d-flex justify-content-between align-items-center">
            <div class="fs-18 Lato600">{{ tour?.tourName }}</div>
            
          </div>
          <div class="fs-14 Lato400 t-orange">{{ tour?.noOfDays }} Days - {{ tour?.noOfNights }} Night </div>
          <div class="fs-14 Lato400 my-2">{{tour?.features}}</div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="fs-18 Lato600 t-orange">₹ {{ tour?.tourPrice }} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
