<ion-content class="ion-padding">
  <app-header></app-header>
  <ion-card class="profile box">
    <ion-row
      class="ion-padding ion-justify-content-between ion-align-items-center"
    >
      <ion-col size="4">
        <ion-avatar class="ProfileImage">
          <ion-img
            src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
          >
          </ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="6">
        <ion-text
          style="
            font-size: 1rem;
            color: black;
            margin: 0.5rem 0;
            font-weight: 500;
          "
          >Arjun Reddy</ion-text
        >
        <p style="margin: .3rem 0; font-size: 0.9rem; font-weight: 500">
          redy@arjun.com
        </p>
        <p style="margin: .3rem 0; font-size: 0.9rem; font-weight: 500">1234567890</p>
      </ion-col>
      <ion-col size="2">
        <ion-button
          class="ion-no-padding"
          fill="clear"
          color="secondary"
          routerLink="/profile/edit"
        >
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="profile ion-padding box">
    <ion-text color="secondary" style="font-weight: 500"> About Us </ion-text>
  </ion-card>
  <ion-card class="profile ion-padding box" id="language-modal">
    <ion-text color="secondary" style="font-weight: 500" >
      <ion-icon name="language-outline" style="margin-right: 0.6rem"></ion-icon>
      Change Language
    </ion-text>
  </ion-card>
  <ion-card class="profile ion-padding box">
    <ion-text color="secondary" style="font-weight: 500">
      <ion-icon
        name="document-lock-outline"
        style="margin-right: 0.6rem"
      ></ion-icon>
      Terms And Condition
    </ion-text>
  </ion-card>
  <ion-card class="profile ion-padding box">
    <ion-text color="secondary" style="font-weight: 500">
      <ion-icon name="settings-outline" style="margin-right: 0.6rem"></ion-icon>
      Settings
    </ion-text>
  </ion-card>
  <ion-card class="profile ion-padding box">
    <ion-text color="secondary" style="font-weight: 500">
      <ion-icon name="log-out-outline" style="margin-right: 0.6rem"></ion-icon>
      LogOut
    </ion-text>
  </ion-card>
</ion-content>



<!-- <app-language></app-language> -->