<div class="row">
  <div class="col-12">
    <div class="card bg-primary shadow-soft border-light px-2 py-1 mb-3">
      
        <div class="row align-items-center justify-content-between">
          <div class="col-5 ">
            <img src="assets/vehicles/suv.png" alt="illustration">
          </div>
          <div class="col-7">
            <h2 class="mb-2 Lato600">SUV</h2>
            <div class="mb-1 Lato500 fs-14">
              Scorpio-N, XUV 500, Bolero
            </div>
            <div class="align-items-center  d-flex w-100">
              <div class="text-success Lato400 fs-18">$400</div>
              <div class="text-secoundry Lato400 fs-14 mx-4">$15/km</div>
            </div>
            
          </div>
          <div class="col-12 mt-3">
            <div class="align-items-center justify-content-between d-flex px-3">
              <div>
                <i class="fa-duotone fa-seat-airline"></i>
                <span>5</span>
              </div>
              <div>
                <i class="fa-duotone fa-car-side"></i>
                <span>8 Ltr</span>
              </div>
              <div>
                <i class="fa-light fa-air-conditioner"></i>
                <span>Air conditioning</span>
              </div>
            </div>
          </div>

        </div>
     
    </div>
  </div>
</div>