<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homepage" > 
      <ion-icon name="home"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button tab="orders"  >
      <ion-icon name="calendar-outline"></ion-icon>
     
    </ion-tab-button>

    <ion-tab-button tab="wallet"  >
      <ion-icon name="wallet-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile"  >
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>