<ion-content>
  <ion-img src="assets/login.svg"></ion-img>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="font-weight: 600" color="secondary">Forgot
        Password</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-margin-top">
      <form action="" [formGroup]="forgetForm" (ngSubmit)="forgetWithEmail()">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        <ion-text class="ion-text-start">Forget Password?</ion-text>
        <ion-button expand="block" color="primary" type="submit">Continue</ion-button>
        <ion-item>
          <p class="ion-text-center">
            Didn't get a code?
            <b color="primary" style="color: #dc9c40" routerLink=""> Resend code </b>
          </p>
        </ion-item>
        <p class="ion-text-center">Or use your Google account</p>
        <button class="google d-flex justify-content-center w-100" (click)="auth.signUpWithGoogle()">
          <ion-icon name="logo-google"></ion-icon>
        </button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>