<div class="ion-page" id="main-content">

  <ion-header class="ion-padding">
    <app-header currentPanel="Tours"></app-header>
  </ion-header>
  <ion-content class="ion-padding">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/ce/8e/78/the-red-fort-is-a-historic.jpg" class="card-img-top rounded" alt="Designer desk">
    <div class="d-flex justify-content-between align-items-center">
      <div class="t-blue Lato600 fs-18">Delhi to Agra Tour </div>
      <div class="t-green Lato600 fs-18">₹ 20,000 </div>
    </div>
  </ion-content>
  <app-footer></app-footer>
</div>