
<ng-container *ngIf="booking?.type == 'cab'">
  <div class="card bg-primary border-light shadow-soft">
    <div class="d-flex justify-content-between align-items-center p-3">
      <div class="d-flex align-items-center">
        <div class="car-outer"><img [src]="booking?.vehicle.image" alt=""></div>
        <div class="pl-2">
          <div class="Lato600 fs-16">{{booking?.vehicle.vehicleCategory}}</div>
          <div class="Lato400 fs-13 mt-1">{{booking?.pickupStartDate.toDate() | date}}</div>
        </div>
      </div>
      <div class="Lato600 t-green fs-18">$ 2500</div>
    </div>
    <div class="border"></div>
    <div class="fs-14 Lato400 px-3 pt-2">
        <div class="wrapper ms-2">
          <ul class="StepProgress">
            <li class="StepProgress-item current fs-14 Lato400">{{booking?.pickupLocation.name}}</li>
            <li class="StepProgress-item fs-14 Lato400">{{booking?.dropLocation?.name}}</li>
          </ul>
        </div>
    </div>
    <div class="d-flex align-items-center px-3 pb-2">
      <div class="Lato400 fs-14">Seats : <span class="Lato500 t-red ml-1"> {{booking?.seats}}</span></div>
      <div class="Lato400 fs-14 pl-2">Air Conditions : <span class="Lato500 t-green ml-1" *ngIf="booking?.acNonac == 'ac'"> AC</span> <span class="Lato500 t-green ml-1" *ngIf="booking?.acNonac != 'ac'"> NON AC</span></div>
    </div>
    <div class="border"></div>
    <div class="Lato400 fs-14 px-3 pt-3">Pickup : <span class="Lato400">{{booking?.pickupStartDate.toDate() | date:'MMM d, y, h:mm:ss a'}}</span></div>
    <div class="Lato400 fs-14 px-3 pb-3">Drop : <span class="Lato400">{{booking?.pickupEndDate.toDate() | date:'MMM d, y, h:mm:ss a'}}</span></div>
  </div>
</ng-container>


<ng-container *ngIf="booking?.type == 'Rental'">
  <div class="card bg-primary border-light shadow-soft">
    <div class="d-flex justify-content-between align-items-center p-3">
      <div class="d-flex align-items-center">
        <div class="car-outer"><img [src]="booking?.vehicle.image" alt=""></div>
        <div class="pl-2">
          <div class="Lato600 fs-16">{{booking?.vehicle.vehicleCategory}}</div>
          <div class="Lato400 fs-13 mt-1">{{booking?.pickupStartDate.toDate() | date}}</div>
        </div>
      </div>
      <div class="Lato600 t-green fs-18">$ 2500</div>
    </div>
    <div class="border"></div>
    <div class="fs-14 Lato400 px-3 pt-2">
        <div class="wrapper ms-2">
          <ul class="StepProgress">
            <li class="StepProgress-item current fs-14 Lato400">{{booking?.pickupLocation.name}}</li>
            <li class="StepProgress-item fs-14 Lato400">{{booking?.dropLocation?.name}}</li>
          </ul>
        </div>
    </div>
    <div class="d-flex align-items-center px-3 pb-2">
      <div class="Lato400 fs-14">Seats : <span class="Lato500 t-red ml-1"> {{booking?.seats}}</span></div>
      <div class="Lato400 fs-14 pl-2">Air Conditions : <span class="Lato500 t-green ml-1" *ngIf="booking?.acNonac == 'ac'"> AC</span> <span class="Lato500 t-green ml-1" *ngIf="booking?.acNonac != 'ac'"> NON AC</span></div>
    </div>
    <div class="border"></div>
    <div class="Lato400 fs-14 px-3 pt-3">Pickup : <span class="Lato400">{{booking?.pickupStartDate.toDate() | date:'MMM d, y, h:mm:ss a'}}</span></div>
    <div class="Lato400 fs-14 px-3 pb-3">Package : <span class="Lato400">{{booking?.package.distance}}km/{{booking?.package.hours}}</span></div>
  </div>
</ng-container>

<ng-container *ngIf="booking?.type == 'outstation'">
  <div class="card bg-primary border-light shadow-soft">
    <div class="d-flex justify-content-between align-items-center p-3">
      <div class="d-flex align-items-center">
        <div class="car-outer"><img [src]="booking?.vehicle.image" alt=""></div>
        <div class="pl-2">
          <div class="Lato600 fs-16">{{booking?.vehicle.vehicleCategory}}</div>
          <div class="Lato400 fs-13 mt-1">{{booking?.pickupStartDate.toDate() | date}}</div>
        </div>
      </div>
      <div class="Lato600 t-green fs-18">$ 2500</div>
    </div>
    <div class="border"></div>
    <div class="fs-14 Lato400 px-3 pt-2">
        <div class="wrapper ms-2">
          <ul class="StepProgress">
            <li class="StepProgress-item current fs-14 Lato400">{{booking?.pickupLocation.name}}</li>
            <li class="StepProgress-item fs-14 Lato400">{{booking?.dropLocation?.name}}</li>
          </ul>
        </div>
    </div>
    <div class="d-flex align-items-center px-3 pb-2">
      <div class="Lato400 fs-14">Seats : <span class="Lato500 t-red ml-1"> {{booking?.seats}}</span></div>
      <div class="Lato400 fs-14 pl-2">Air Conditions : <span class="Lato500 t-green ml-1" *ngIf="booking?.acNonac == 'ac'"> AC</span> <span class="Lato500 t-green ml-1" *ngIf="booking?.acNonac != 'ac'"> NON AC</span></div>
    </div>
    <div class="border"></div>
    <div class="Lato400 fs-14 px-3 pt-3">Pickup : <span class="Lato400">{{booking?.pickupStartDate.toDate() | date:'MMM d, y, h:mm:ss a'}}</span></div>
    <div class="Lato400 fs-14 px-3 pb-3">Drop : <span class="Lato400">{{booking?.pickupEndDate.toDate() | date:'MMM d, y, h:mm:ss a'}}</span></div>
    <div class="border"></div>
    <div class="Lato400 fs-14 px-3 pt-3">Return : <span class="Lato400">{{booking?.returnStartDate .toDate() | date:'MMM d, y, h:mm:ss a'}}</span></div>
    <div class="Lato400 fs-14 px-3 pb-3">End : <span class="Lato400">{{booking?.returnEndDate.toDate() | date:'MMM d, y, h:mm:ss a'}}</span></div>
  </div>
</ng-container>

<ng-container *ngIf="booking?.type == 'guide'">
  <div class="card bg-primary border-light shadow-soft">
    <div class="d-flex justify-content-between align-items-center p-3">
      <div class="d-flex align-items-center">
        <div class="car-outer"><img [src]="booking?.vehicle.image" alt=""></div>
        <div class="pl-2">
          <div class="Lato600 fs-16">Guide Name Soon</div>
          <div class="Lato400 fs-13 mt-1">888982337023</div>
          <div class="Lato400 fs-13 mt-1">rating + 4</div>
        </div>
      </div>
      <div class="Lato600 t-green fs-18">$ 2500</div>
    </div>
    <div class="border"></div>
    <div class="fs-14 Lato400 px-3 pt-2">
        <div class="wrapper ms-2">
          <ul class="StepProgress">
            <li class="StepProgress-item current fs-14 Lato400">{{booking?.pickupLocation.name}}</li>
            <!-- <li class="StepProgress-item fs-14 Lato400">{{booking?.dropLocation?.name}}</li> -->
          </ul>
        </div>
    </div>
    <div class="d-flex align-items-center px-3 pb-2">
      <div class="Lato400 fs-14 px-3 pt-3">Pickup : <span class="Lato400">{{booking?.pickupStartDate.toDate() | date:'MMM d, y, h:mm:ss a'}}</span></div>
    </div>


  </div>
</ng-container>

