<div class="card bg-primary border-light shadow-soft">
  <div class="d-flex justify-content-between align-items-center p-3">
    <div class="d-flex align-items-center">
      <div class="car-outer"><img src="assets/car.png" alt=""></div>
      <div class="pl-2">
        <div class="Lato600 fs-16">SUV</div>
        <div class="Lato400 fs-13 mt-1">3:45 PM at 14 June 2022</div>
      </div>
    </div>
    <div class="Lato600 t-green fs-18">$ 2500</div>
  </div>
  <div class="border"></div>
  <div class="fs-14 Lato400 px-3 pt-2">
      <div class="wrapper ms-2">
        <ul class="StepProgress">
          <li class="StepProgress-item current fs-14 Lato400">921 Glenlake Ave. Morristown, NJ07960</li>
          <li class="StepProgress-item fs-14 Lato400">921 Glenlake Ave. Morristown, NJ0796</li>
        </ul>
      </div>
  </div>
  <div class="d-flex align-items-center px-3 pb-2">
    <div class="Lato400 fs-14">Range : <span class="Lato500 t-red ml-1"> 70 Km</span></div>
    <div class="Lato400 fs-14 pl-2">Hour : <span class="Lato500 t-green ml-1"> 3 Hr</span></div>
  </div>
  <div class="border"></div>
  <div class="Lato400 fs-14 px-3 pt-3">Pickup : <span class="Lato400">3:30 PM at 16 June 2022</span></div>
  <div class="Lato400 fs-14 px-3 pb-3">Drop : <span class="Lato400">9:30 PM at 20 June 2022</span></div>
</div>