<ion-header>
  <ion-card class="ion-text-end" *ngIf="currentPanel !== 'homepage'">
    <ion-icon name="chevron-back" routerLink="../homepage"></ion-icon>
  </ion-card>
  <ion-img
    src="assets/itcMain.png"
    *ngIf="currentPanel === 'homepage'"
  ></ion-img>
  <ion-text
    class="ion-margin-center"
    style="color: #212638; font-weight: 800"
    *ngIf="currentPanel !== 'homepage'"
    >{{ currentPanel }}</ion-text
  >
  <div style="display: flex; gap: 1rem">
    <ion-card
      class="ion-text-end"
      id="language-modal"
      *ngIf="currentPanel === 'homepage' || currentPanel === 'notifications'"
    >
      <ion-icon name="language"></ion-icon> </ion-card
    ><ion-card *ngIf="currentPanel !== 'notifications'">
      <ion-icon routerLink="../notifications" name="notifications"></ion-icon>
    </ion-card>
  </div>
</ion-header>
