.img-outer {
    width: 128px;
    min-width: 128px;
    max-width: 128px;
    object-fit: cover;
    padding-right: 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-outer-checkbox {
    width: 128px;
    min-width: 128px;
    max-width: 128px;
    object-fit: cover;
    padding-right: 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}