<swiper [slidesPerView]="1.2" [loop]="false" effect="fade" pager="true">
  <ng-template swiperSlide *ngFor="let tour of Tours">
    <ion-card class="tourCard" routerLink="/root/tours-details/{{tour?.id}}">
      <ion-img [src]="tour?.images[0]" ></ion-img>
      <ion-grid class="content ion-text-start">
        <ion-row >
          <ion-col>
            <ion-text style="font-size: 1.3rem; font-weight: 600; color: white">{{ tour?.tourName }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text
              style="font-size: 1.2rem; font-weight: 600; color: #ff9114">
              ₹ {{ tour?.tourPrice }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            
            <ion-text
              style="font-size: .8rem; font-weight: 200; color: #dbdbdb">
            {{ tour?.aboutTour?.slice(0, 100) + "..." }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="font-size: 0.8rem; font-weight: 200; color: #ff9114" >
          <ion-col class="pb-3">
            <ion-text> {{ tour?.noOfDays }} Days - {{ tour?.noOfNights }} Night </ion-text>
          </ion-col>
          <ion-col>
            <!-- <ion-text> No. of stoppage : {{ tour?.stoppage }} </ion-text> -->
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="shadow"></div>
    </ion-card>
  </ng-template>
</swiper>

