<div class="ion-page" id="main-content">

  <app-header currentPanel="T&C"></app-header>

  <ion-content class="homepage" fullscreen class="ion-padding" scroll-y="true">
    <div class="Lato400 fs-14">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </div>
    <div class="Lato600 fs-16 py-3">Acceptance Of Term</div>
    <div class="Lato400 fs-14">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo magni optio quisquam aut
      mollitia saepe tenetur nobis ut natus totam provident dolorum facilis est atque obcaecati blanditiis odit quas
      fugit, harum facere dolores? Laudantium quo nemo perspiciatis deserunt sapiente totam enim atque nulla quisquam,
      accusamus distinctio quos reprehenderit, vel nihil quibusdam eligendi accusantium illo perferendis pariatur!
      Dolores eligendi minima blanditiis consectetur? Totam sequi aspernatur similique numquam aliquam doloremque maxime
      debitis, repellendus adipisci minima dolorum doloribus ad culpa quia necessitatibus repellat voluptatibus id
      dignissimos, sint accusantium. Ex animi iusto, architecto cumque ipsa impedit dolorum illum vitae dignissimos
      consequuntur dolore ab eaque.
    </div>
    <div class="position-fixed bottom-0 w-90 d-flex flex-column bg-white">
      <ion-item>
        <ion-checkbox class="no-margin" slot="start" (click)="triggerCheckBox()"></ion-checkbox>
        <ion-label class="ms-2">I agree with terms & Conditions</ion-label>
      </ion-item>
      <div class="d-flex bg-white">
        <button class="btn btn-primary text-dark mr-2 mb-2 w-100 mt-3" type="button" routerLink="/">Decline</button>
        <button class="btn btn-info text-dark mr-2 mb-2 ml-2 w-100 mt-3" type="button" [disabled]="checked"
          (click)="signUp()">Accept</button>
      </div>
    </div>

  </ion-content>

</div>