<div class="card bg-primary border-light shadow-soft" routerLink="../blog-detail">
  <div class="card-header px-3 pt-3">
      <img src="https://waybird.imgix.net/lodge_images/images/000/080/557/original/killa-bhawan-9.jpg?w=1400&h=960" class="card-img-top rounded" alt="Designer desk">
  </div>
  <div class="px-3 pb-3">
      <h3 class="h5 Lato600 fs-18">8 Waterfalls in Jaipur to visit this year</h3>
      <p class="Lato400 fs-15">Yes, there are waterfalls near Jaipur, even though, almost... <span class="t-orange">Read more</span></p>
      <div class="d-flex align-items-center">
        <span class="small"><span class="far fa-calendar-alt mr-2"></span>By Jatin Chhabra from Rajputana Cabs</span>
    </div>
  </div>
</div>