<ng-container *ngFor="let blog of blog">
  <div class="card bg-primary border-light shadow-soft" [routerLink]="'/root/blog-detail/' + blog.id">
    <div class="card-header px-3 pt-3">
      <img [src]="blog.photoURL" class="card-img-top rounded" alt="Designer desk">
    </div>
    <div class="px-3 pb-3">
      <h3 class="h5 Lato600 fs-18">{{blog.title}}</h3>
      <p class="Lato400 fs-15">{{blog.description | slice: 0:200}}<span class="t-orange pl-2"
          [routerLink]="'/root/blog-detail/' + blog.id">Read more</span></p>
      <div class="d-flex align-items-center">
        <span class="small"><span class="far fa-calendar-alt mr-2"></span>By {{blog?.author?.displayName}} from
          Rajputana Cabs</span>
      </div>
    </div>
  </div>
</ng-container>