<div class="ion-page" id="main-content">

  <ion-header class="ion-padding">
    <app-header  currentPanel="Payment Method"></app-header>
  </ion-header>
  <ion-content class="ion-padding">
    <img [src]="(this.dataProvider.tour?.images || [])[0]"
      class="card-img-top rounded" alt="Designer desk">
    <form action="#" class="w-100 mt-3" [formGroup]="tourBooking" (ngSubmit)="tourBilling()">
      <div class="form-group mb-3">
        <label class="Lasto600 fs-16" for="email">Enter No of tourists</label>
        <input type="number" class="form-control w-100 Lato400 fs-14" id="email" placeholder="No Of Tourists" aria-describedby="emailHelp" formControlName="noOfTourists">
      </div>
      <div class="form-group mb-3">
        <label for="email" class="Lato600 fs-16">Enter Pickup Location</label>
        <ion-select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" formControlName="pickupLocation">
          <ion-select-option *ngFor="let location of locationsList" [value]="location">{{location.name}}</ion-select-option>
        </ion-select>
      </div>
      <div class="form-group mb-3">
        <label class="Lasto600 fs-16" for="password">Name</label>
        <input type="text" class="form-control w-100 Lato400 fs-14" placeholder="Name" id="password" formControlName="name">
      </div>
      <div class="form-group mb-3">
        <label class="Lasto600 fs-16" for="password">Contact</label>
        <input type="number" class="form-control w-100 Lato400 fs-14" placeholder="Mobile Number" id="password" formControlName="contact">
      </div>
      <div class="form-group mb-3">
        <label class="Lasto600 fs-16" for="password">Email</label>
        <input type="email" class="form-control w-100 Lato400 fs-14" placeholder="Email" id="password" formControlName="email">
      </div>

      <div class=" mb-3">
        <label class="Lasto600 fs-16" for="password">Check Dates available for  this Tour</label>
        <div class="d-flex justify-content-between align-items-center flex-wrap tours">
          <div class=" bg-primary border-light shadow-soft p-2" *ngFor="let date of this.dataProvider.tour?.holidays" (click)="selectedDate=date" [ngClass]="{'active':date.start.toDate().toDateString() == selectedDate?.start.toDate().toDateString()}">
            {{date.start.toDate() | date}} - {{date.end.toDate() | date}}
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="Lasto600 fs-16" for="password">Special Requests</label>
        <input type="text" class="form-control w-100 Lato400 fs-14" placeholder="Special Requests" id="password" formControlName="specialRequest">
      </div>
      <button class="btn btn-info text-dark mr-2 my-5 w-100" type="submit">Book the Tour</button>
    </form>
  </ion-content>

</div>