<ion-header class="ion-padding">
  <app-header></app-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="box ion-padding" style="width: 75%; margin: 1rem auto">
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col size="8.5">
        <ion-row>
          <ion-text style="font-size: 1.1rem" color="secondary"
            >Available Balance</ion-text
          >
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-text
            style="font-size: 1.5rem; font-weight: 600"
            color="secondary"
            >$788</ion-text
          >
        </ion-row>
      </ion-col>
      <ion-col size="3.5">
        <ion-card
          class="box"
          style="
            margin: 0;
            height: 4rem;
            width: 3.5rem;
            background-color: #ff9114;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 1rem;
            flex-direction: column;
          "
        >
          <ion-icon name="wallet"></ion-icon>
          <p style="font-size: 0.8rem; margin: 0.2rem 0">Top Up</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-grid style="padding: 0;">
    <p style="color: #383a69">Recent Transaction</p>
    <ion-row>
      <ion-col style="padding: 0;">
        <ion-card class="ion-padding box" style="margin: 0">
          <ion-row >
            <ion-col size="2">
              <ion-img src="assets/transaction.svg"></ion-img>
            </ion-col>
            <ion-col size="5.5">
              <ion-row>
                <ion-col style="padding: 0;"><ion-text
                  color="secondary"
                  style="font-size: var(--ion-text2); font-weight: 600"
                  >Taxi Booking Refund</ion-text
                ></ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="padding: .3rem 0;">
                  <ion-text color="grey" style="font-size: .9rem"
                    >Google Pay</ion-text
                  >
                </ion-col>
              </ion-row>
              
            </ion-col>
            <ion-col size="4.5"  class="ion-justify-content-between ion-align-items-stretch">
              <b style="font-size: 0.9rem; color: green">+ ₹22,450</b>

            </ion-col>
          </ion-row>
          <ion-row  class="ion-align-items-center ion-justify-content-center" >
            <ion-col size="2.2">
            </ion-col>
            <ion-col size="5.3" style="padding: 0;">
              <ion-text color="grey" style="font-size: var(--ion-text)"
              >8:45 PM</ion-text
            >
            </ion-col>
            <ion-col size="4.5" style="padding: 0;">
<ion-text color="grey" style="font-size: var(--ion-text)"
              >Balance:  ₹22,450</ion-text>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
