<ion-header class="ion-padding">
  <app-header></app-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="d-flex align-items-center card bg-primary border-light shadow-soft flex-row p-3 ">
    <div class="w-100">
      <div class="Lato500 fs-14">Available Balance</div>
      <div class="Lato600 fs-26">$788</div>
    </div>

    <button class="btn btn-info text-dark d-flex align-items-center " type="button">
      <i class="fa-solid fs-18 fa-wallet"></i>
    </button>

  </div>

  <div class="Lato600 fs-18 mt-5 mb-2">Recent Transactions</div>
  <div class="Lato400 fs-14 my-3 d-flex align-items-center justify-content-between">
    <div>Today</div>
    <div>₹22,450</div>
  </div>
  <div class="d-flex justify-content-between align-items-center card bg-primary border-light shadow-soft flex-row py-3 px-2 ">
    <div class="d-flex align-items-center">
      <img width="50px" src="assets/transaction.svg">
      <div class="pl-2">
        <div class="Lato500 fs-18">Taxi Booking Refund</div>
        <div class="Lato400 fs-14">Google Pay</div>
        <div class="Lato400 fs-14">08:32 pm</div>
      </div>
    </div>
    <div>
      <div class="Lato600 t-green fs-20">+ ₹22,450</div>
    </div>
  </div>
</ion-content>