.icon {
    border: 0.1px solid grey;
    width: max-content;
    padding: 3px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(110px, -35px);
}