<div class="ion-page" id="main-content">

  <app-header currentPanel="Profile"></app-header>

  <ion-content class="homepage" fullscreen class="ion-padding" scroll-y="true">
    <div class="profile-image shadow-inset border border-light bg-primary p-3 rounded-circle  mx-auto">
      <img src="https://themesberg.com/docs/neumorphism-ui/assets/img/team/profile-picture-4.jpg"
        class="card-img-top shadow-soft p-3 border border-light rounded-circle" alt="Joseph Avatar">
    </div>
    <div class="text-center">
      <div class="fs-18 Lato600">Vivek Desai</div>
      <div class="fs-14 pt-2 Lato400">vivekdesai@gmail.com</div>
    </div>
    <form action="" class="mt-5">
      <div class="form-group mb-3">
        <input type="email" class="form-control" id="email" placeholder="Full Name" aria-describedby="emailHelp">
      </div>
      <div class="form-group mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea2" placeholder="Address" rows="3"></textarea>
      </div>
      <div class="form-group mb-3">
        <input type="email" class="form-control" id="email" placeholder="Landmark" aria-describedby="emailHelp">
      </div>
      <div class="form-group mb-3">
        <input type="email" class="form-control" id="email" placeholder="Pincode" aria-describedby="emailHelp">
      </div>
      <div class="form-group mb-3">
        <input type="email" class="form-control" id="email" placeholder="Phone Number" aria-describedby="emailHelp">
      </div>
      <div class="form-group mb-3">
        <input type="email" class="form-control" id="email" placeholder="Alternative Phone Number" aria-describedby="emailHelp">
      </div>
    </form>
    <div class="position-fixed bottom-0 w-90 d-flex">
      <button class="btn btn-info text-dark mr-2 mb-2 ml-2 w-100 mt-3" type="button" routerLink="/homepage">Save</button>
    </div>

  </ion-content>

</div>