<ion-header class="ion-padding">
  <app-header currentPanel="Billing"></app-header>
</ion-header>
<ion-content class="homepage" fullscreen class="ion-padding" scroll-y="true">
  <app-vehicle-card></app-vehicle-card>
  <div class="form-group mb-3">
    <label for="email" class="Lato500 fs-16">Coupon</label>
    <input type="email" class="form-control" placeholder="Eg  Taxi2022" id="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="card bg-primary shadow-soft border-light">
    <div class="Lato400 fs-18 px-3 py-2">Billing Summary</div>
    <div class="d-flex justify-content-between align-items-center px-3 py-1">
      <div class="Lato400 fs-14">Taxi Fare</div>
      <div>$20</div>
    </div>
    <div class="d-flex justify-content-between align-items-center px-3 py-1">
      <div class="Lato400 fs-14">Taxi Fare</div>
      <div class="Lato400 fs-14">$20</div>
    </div>
    <div class="d-flex justify-content-between align-items-center px-3 py-1">
      <div class="Lato400 fs-14">Taxi Fare</div>
      <div class="Lato400 fs-14">$20</div>
    </div>
    <div class="d-flex justify-content-between align-items-center px-3 py-1">
      <div class="Lato400 fs-14">Taxi Fare</div>
      <div class="Lato400 fs-14">$20</div>
    </div>
    <div class="d-flex justify-content-between align-items-center px-3 py-1">
      <div class="Lato400 fs-14">Taxi Fare</div>
      <div class="Lato400 fs-14">$20</div>
    </div>
    <div class="d-flex justify-content-between align-items-center px-3 py-1">
      <div class="Lato400 fs-14">Taxi Fare</div>
      <div class="Lato400 fs-14">$20</div>
    </div>
    <div class="d-flex justify-content-between align-items-center px-3 py-3">
      <div class="Lato400 fs-16">Total Amount</div>
      <div class="Lato400 fs-16">₹1200</div>
    </div>
    <div class="text-success Lato400 fs-15 px-3 pb-3">Yay! Your Total discount is ₹350</div>
  </div>
  <div class="t-orange px-3 py-3 w-100">See Tax details</div>
  <app-footer></app-footer>
</ion-content>