.img-outer {
    width: 170px;
    min-width: 170px;
    max-width: 170px;
    object-fit: cover;
    padding-right: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.active{
    background-color: var(--ion-color-primary) !important;
    color:white;
}