<div class="ion-page" id="main-content">

  <ion-header class="ion-padding">
    <app-header currentPanel=""></app-header>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="d-flex flex-column justify-content-center h-100 align-items-center">
      <img src="assets/waiting/waiting.svg" alt="">
    <div class="py-3 fs-18 Lato500">
      Wait For Admin To Confirm Booking
    </div>
    <button class="btn btn-primary text-dark mr-2 mt-4" type="button" routerLink="/homepage">Back to Home</button>
    </div>
  </ion-content>
  
</div>