
<ion-header class="ion-padding">
  <app-header></app-header>
</ion-header>
<ion-content class="homepage" fullscreen class="ion-padding" scroll-y="true">
 
  
<app-carousel></app-carousel>
  <app-order-card></app-order-card>

  <ion-text color="secondary" style="font-weight: 600; font-size: 1.2rem"
    >Explore Place Around You</ion-text
  >
  <ion-card
    style="
      padding: 0;
      width: 100%;
      margin: 1rem 0;
      height: 10rem;
      position: relative;
      border-radius: 0.6rem;
    "
  >
    <ion-img
      src="assets/map.png"
      style="height: 100%; width: 100%; object-fit: cover"
    ></ion-img>
    <ion-button
      fill="outline"
      style="
        width: 90%;
        position: absolute;
        font-size: var(--ion-text2);
        bottom: 1rem;
        left: 5%;
        right: 5%;
      "
    >
      Book A Guide to Explore the Place
      <ion-icon
        name="search-outline"
        style="margin: 0 0.4rem; font-size: var(--ion-text)"
      ></ion-icon>
    </ion-button>
  </ion-card>
  <p style="font-size: var(--ion-text); color: rgb(58, 58, 58)">
    You Have Four Great Sport For Visit Around
  </p>
  <ion-row
    class="ion-justify-content-between ion-align-items-center ion-margin-top"
    style="width: 100%; height: var(--ion-height); margin: 1rem 0"
  >
    <ion-button class="bluebuttonClass">
      <ion-img
        src="assets/icon/taxi1.png"
        style="height: 2rem; width: 2rem; margin: 0 0.5rem"
      ></ion-img>
      <ion-text style="font-weight: 600; font-size: var(--ion-text)"
        >Book A Cab</ion-text
      >
    </ion-button>
    <ion-button class="bluebuttonClass">
      <ion-img
        src="assets/icon/taxi2.png "
        style="height: 2rem; width: 2rem; margin: 0 0.5rem"
      ></ion-img>

      <ion-text style="font-weight: 600; font-size: var(--ion-text)"
        >Rent A Cab</ion-text
      >
    </ion-button>
  </ion-row>
  <ion-text
    color="secondary"
    style="font-weight: 600; font-size: 1.2rem; margin: 1rem 0"
    >Spots</ion-text
  >
  <app-spots></app-spots>
  <ion-button class="bluebuttonClass" style="width: 100%; margin: 1rem 0">
    <ion-row>
      <ion-col size="10" class="ion-text-start">
        <ion-text style="font-weight: 400; font-size: var(--ion-text)"
          >Book A Guide To Explore Spot</ion-text
        >
        <p style="font-weight: 400; font-size: 0.6rem">
          Book A Guide To Explore Spot
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-img
          src="assets/icon/icon3.png"
          style="height: 2rem; width: 2rem; margin: 0 0.5rem"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-button>
  <app-out-stations></app-out-stations>
  <ion-button class="bluebuttonClass" style="width: 100%; margin: 1rem 0">
    <ion-row>
      <ion-col size="10" class="ion-text-start">
        <ion-text style="font-weight: 400; font-size: var(--ion-text)"
          >Book An Outstation Cab</ion-text
        >
        <p style="font-weight: 400; font-size: 0.6rem">
          Get to experience local culture and cuisine
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-img
          src="assets/icon/icon4.png"
          style="height: 2rem; width: 2rem; margin: 0 0.5rem"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-button>
  <app-travel-tour></app-travel-tour>
  <app-blogs style="margin-bottom: 2rem"></app-blogs>
  <app-questions></app-questions>
  <app-contact></app-contact>
</ion-content>
