<div class="ion-page" id="main-content">

  <app-header currentPanel="Renting"></app-header>

  <ion-content class="homepage" fullscreen class="ion-padding" scroll-y="true">
    <div class="d-flex w-100 align-items-center my-4">
      <div class="img-outer">
        <img src="assets/outstation/outstation.svg" alt="">
      </div>
      <div class="">
        <div class="fs-20 Lato600 mb-1 t-blue">Easy and quick rides</div>
        <div class="fs-14 t-grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum
         </div>
      </div>
    </div>

    <form action="#" class="w-100">
      <div class="form-group my-3 w-100">
        <label for="email" class="my-2  Lato600 fs-16">Email address</label>
        <input type="email" class="form-control w-100 Lato400 fs-14" placeholder="Enter your email" id="email" aria-describedby="emailHelp">
      </div>
      <div class="my-4">
        <div class="my-2  Lato600 fs-16">Select Package</div>
        <div class="d-flex align-items-center justify-content-between ">
          <div class=" bg-primary shadow-soft text-center border-light px-3 py-1">
            <div class="Lato600 fs-18">1 Hr</div>
            <div class="Lato400 fs-14">50 km</div>
          </div>
          <div class=" bg-primary shadow-soft text-center border-light px-3 py-1">
            <div class="Lato600 fs-18">2 Hr</div>
            <div class="Lato400 fs-14">100 km</div>
          </div>
          <div class=" bg-primary shadow-soft text-center border-light px-3 py-1">
            <div class="Lato600 fs-18">3 Hr</div>
            <div class="Lato400 fs-14">200 km</div>
          </div>
          <div class=" bg-primary shadow-soft text-center border-light px-3 py-1">
            <div class="Lato600 fs-18">8 Hr</div>
            <div class="Lato400 fs-14">400 km</div>
          </div>
        </div>
      </div>
      <div>
        <div class="input-daterange datepicker row align-items-center">
          <div class="col">
            <label class="my-2  Lato600 fs-16">Schedule pickup</label>
            <div class="form-group">
              <div class="input-group input-group-border">
                <div class="input-group-prepend"><span class="input-group-text"><span
                      class="far fa-calendar-alt"></span></span></div>
                <input class="form-control datepicker Lato400 fs-14" id="exampleInputDate2" placeholder="Start date" type="text">
              </div>
            </div>
          </div>

          <span class="Lato500 fs-17">at</span>

          <div class="col">
            <div class="form-group">
              <label class="h6" for="exampleInputDate3"></label>
              <div class="input-group input-group-border">
                <div class="input-group-prepend"><span class="input-group-text"><span
                      class="far fa-calendar-alt"></span></span></div>
                <input class="form-control datepicker Lato400 fs-14" id="exampleInputDate3" placeholder="End date" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="my-2  Lato600 fs-16">Spots near the location</div>
        <app-spots></app-spots>
      </div>
      <div class="card bg-primary shadow-soft text-center border-light mt-3">
        <div class="d-flex p-3  justify-content-between align-items-center">
          <div class="Lato600 fs-16 t-blue text-start w-75">Wanna Explore The Spots Nearby Get A Guide</div>
          <ion-checkbox slot="start" checked></ion-checkbox>
        </div>
        <div class="d-flex justify-content-between mb-5  align-items-center">
          <ul class="text-start Lato400 fs-14 no-padding" style="padding-left: 30px !important;">
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>

          </ul>
          <div class="img-outer-checkbox">
            <img src="assets/outstation/checkboxImg.png" alt="">
          </div>
        </div>
      </div>
      <div class="">
        <button class="btn btn-info position-fixed bottom-0  w-90 mb-2"  type="button"
          routerLink="/vehicle">Next</button>
      </div>
    </form>

  </ion-content>
  
</div>