<div class="ion-page" id="main-content">

  <app-header currentPanel="Renting"></app-header>

  <ion-content class="homepage" fullscreen class="ion-padding" scroll-y="true">
    <div class="d-flex w-100 align-items-center">
      <div class="img-outer">
        <img src="assets/outstation/outstaion.svg" alt="">
      </div>
      <div class="">
        <div class="fs-20 Lato400 mb-2 t-blue">Easy and quick rides</div>
        <div class="fs-14 t-grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum
          is
          simply dummy </div>
      </div>
    </div>

    <form action="#" class="w-100">
      <div class="form-group my-3 w-100">
        <label for="email" class="my-1 mr-2 Lato600 fs-16">Email address</label>
        <input type="email" class="form-control w-100" placeholder="Email" id="email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="my-3">
        <div class="my-1 mr-2 Lato600 fs-16">Select Package</div>
        <div class="d-flex align-items-center justify-content-between ">
          <div class="card bg-primary shadow-soft text-center border-light px-3 py-2">
            <div class="Lato600 fs-18">1 Hr</div>
            <div class="Lato400 fs-14">50 km</div>
          </div>
          <div class="card bg-primary shadow-soft text-center border-light px-3 py-2">
            <div class="Lato600 fs-18">2 Hr</div>
            <div class="Lato400 fs-14">100 km</div>
          </div>
          <div class="card bg-primary shadow-soft text-center border-light px-3 py-2">
            <div class="Lato600 fs-18">3 Hr</div>
            <div class="Lato400 fs-14">200 km</div>
          </div>
          <div class="card bg-primary shadow-soft text-center border-light px-3 py-2">
            <div class="Lato600 fs-18">8 Hr</div>
            <div class="Lato400 fs-14">400 km</div>
          </div>
        </div>
      </div>
      <div>
        <div class="input-daterange datepicker row align-items-center">
          <div class="col">
            <label class="my-1 mr-2 Lato600 fs-16">Schedule pickup</label>
            <div class="form-group">
              <div class="input-group input-group-border">
                <div class="input-group-prepend"><span class="input-group-text"><span
                      class="far fa-calendar-alt"></span></span></div>
                <input class="form-control datepicker" id="exampleInputDate2" placeholder="Start date" type="text">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="h6" for="exampleInputDate3"></label>
              <div class="input-group input-group-border">
                <div class="input-group-prepend"><span class="input-group-text"><span
                      class="far fa-calendar-alt"></span></span></div>
                <input class="form-control datepicker" id="exampleInputDate3" placeholder="End date" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="my-1 mr-2 Lato600 fs-16">Spots near the location</div>
        <app-spots></app-spots>
      </div>
      <div class="card bg-primary shadow-soft text-center border-light mt-3">
        <div class="d-flex p-3  justify-content-between">
          <div class="Lato500 fs-18 t-blue text-start">Wanna Explore The Spots Nearby Get A Guide</div>
          <div>
            <div class="form-check square-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck111" checked>
              <label class="form-check-label" for="defaultCheck111">

              </label>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between  align-items-center">
          <ul class="text-start Lato400 fs-14 no-padding" style="padding-left: 30px !important;">
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>
            <li class="text-start Lato400 fs-14">Lorem ipsum dolor sit amet </li>

          </ul>
          <div class="img-outer-checkbox">
            <img src="assets/outstation/checkboxImg.png" alt="">
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-primary text-dark mr-2 mb-2 w-100 mt-3" routerLink="/billing" type="button">Next</button>
      </div>
    </form>

  </ion-content>
  <app-footer></app-footer>
</div>