<div class="ion-page" id="main-content">

  <app-header currentPanel="About Us"></app-header>

  <ion-content class="homepage" fullscreen class="ion-padding" scroll-y="true">
    <div class="Lato400 fs-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum tenetur molestiae officiis corrupti necessitatibus
      velit quibusdam inventore similique fugiat explicabo eveniet corporis accusantium in provident earum, voluptas
      reprehenderit! Repellendus quae quia, sed architecto officia harum corporis adipisci atque quod ea ut provident,
      ipsum maiores earum ducimus soluta perspiciatis sequi. Esse, rerum maxime quibusdam similique repudiandae beatae
      quo, eaque molestias ipsa voluptatem, culpa itaque facilis. Optio nostrum laborum facilis placeat veniam
      voluptatibus quia suscipit, consectetur debitis fugiat amet possimus voluptates! Totam, nostrum! Animi hic nulla
      maxime. Sapiente blanditiis eveniet expedita iure, deleniti distinctio, officia voluptates vero nam nobis, ipsam
      accusamus aliquid?</div>
      <div>
        <button class="btn btn-info position-fixed bottom-0  w-90 mb-2"  routerLink="/root/homepage" type="button" >Back</button>
      </div>
  </ion-content>

</div>