<ion-card>
  <ion-grid>
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="3" style="--ion-grid-columns: 0px;">
        <ion-text class="t-green fs-20 Lato600">{{booking?.grandTotal| currency:'INR'}}</ion-text>
      </ion-col>
      <ion-col size="4.5">
        <button class="btn btn-primary text-dark animate-up-2 py-1" type="button">{{booking?.type | titlecase}}</button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-margin-top ion-border">
      <ion-col size="4.5">
        <ion-img [src]="booking?.vehicle?.vehicleImage"></ion-img>
        <p class="ion-text-center " style="margin:.5rem 0; color: black;font-size: .7rem;">{{booking?.vehicle?.vehicleNumber}}</p>
      </ion-col>
      <ion-col size="0.5">
        <ion-icon *ngIf="booking?.pickupLocation" name="ellipse" class="ion-margin-bottom" color="primary"></ion-icon>
        <ion-icon *ngIf="booking?.dropLocation" name="ellipse" color="secondary"></ion-icon>
      </ion-col>
      <ion-col size="6.5">
        <p color="secondary" style="margin: 0; color: #212638;font-size: .8rem;">{{booking?.pickupLocation?.name}}</p> <br>
        <p color="secondary" style="margin: 0; color: #212638;font-size: .8rem;">{{booking?.dropLocation?.name}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-margin-top "
      style="border-top: 2px solid #cbcbcb;">
      <ion-col size="2" class="ion-margin-top">
        <ion-avatar style="height:2.3rem;width:2.3rem">
          <ion-img [src]="booking?.user?.photoURL"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="4.5" class="ion-margin-top">
        <ion-text style="font-weight: 400; color: black; font-size: 1.1rem;"> {{booking?.user?.displayName}}</ion-text>
      </ion-col>
      <ion-col size="5.5" class="ion-margin-top ion-align-self-end">
        <button class="commonbutton">
          <ion-text style="color: rgb(255, 0, 0); font-size: 1.1rem;"> SOS</ion-text>
        </button>
        <button class="commonbutton">
          <ion-icon name="call"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>