<ion-card>
  <ion-grid>
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="3">
        <ion-text style="color:#0E6917;font-size: 1.1rem;font-weight: 600;">$788</ion-text>
      </ion-col>
      <ion-col size="4.5">
        <div class="indicator" >
          <ion-text class="ion-text-center" >Outstatons</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-margin-top ion-border">
      <ion-col size="3.5"  >
        <ion-img src="assets/car.png"></ion-img>
        <!-- <ion-text color="secondary" class="ion-text-margin ion-text-center">#899b</ion-text> <br> -->
<p class="ion-text-center " style="margin:.5rem 0; color: black;font-size: .7rem;">GJ 28 AB 1235</p>
      </ion-col>
      <ion-col size="1"  >
        <ion-icon name="ellipse" class="ion-margin-bottom" color="primary" ></ion-icon>
        <ion-icon name="ellipse"  color="secondary"></ion-icon>
      </ion-col>
      <ion-col size="7.5">
        <p color="secondary" style="margin: 0; color: #212638;font-size: .8rem;" >Brahma Temple, Rajshthan</p> <br>
        <p color="secondary" style="margin: 0; color: #212638;font-size: .8rem;" >Robin Restaurant, Delhi</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-margin-top " style="border-top: 2px solid #cbcbcb;" >
      <ion-col size="2" class="ion-margin-top">
        <ion-avatar style="height:2.3rem;width:2.3rem" >
          <ion-img src="assets/avatar.jpg"></ion-img>
        </ion-avatar>
      </ion-col>  
      <ion-col size="4.5" class="ion-margin-top"  >
        <ion-text style="font-weight: 400; color: black; font-size: 1.1rem;" > Jake Sully</ion-text>
      </ion-col>
      <ion-col size="5.5" class="ion-margin-top ion-align-self-end"  >
        <button class="commonbutton">
         <ion-text style="color: rgb(255, 0, 0); font-size: 1.1rem;" > SOS</ion-text>
        </button>
        <button class="commonbutton">
          <ion-icon name="call" ></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>