@keyframes scaleUp {
    0%{
        scale:0.8;
    }
    70%{
        scale: 1.5;
    }
    to {
        scale: 1;
    }
}
@keyframes shake {
    from{
        transform: translateX(-5%);
    }
    to{
        transform: translateX(5%);
    }
}

i{
    --star-color: pink;
    --star-filled-color:orange;
    --star-unfilled-color:rgb(186, 186, 186);
    --star-size:15px;
    font-size: var(--star-size,15px);
}
.fa-solid{
    animation:scaleUp 150ms linear alternate;
    color:var(--star-filled-color,var(--star-color,orange));
}
.fa-regular{
    animation: shake 150ms 4 ease-in-out;
    color:var(--star-unfilled-color,var(--star-color,orange));
}