<ion-text color="secondary" style="font-weight: 600; font-size: 1.2rem"
  >Outstation</ion-text
>
<ion-grid>
  <ion-row class="ion-margin-vertical" *ngFor="let outstation of Outstations" >
    <ion-col class="ion-align-items-center">
      <ion-img class="image" [src]="outstation.image"></ion-img>
      <ion-text color="dark" style="position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);font-size: 1.3rem;font-weight: 600;" >{{outstation.location}}</ion-text>
    <div class="shadow"></div>
    </ion-col>
  </ion-row>
 
</ion-grid>
