<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homepage"  [ngClass]="{'tab-selected': page === 'homepage'}"> 
      <ion-icon name="home"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button tab="orders"  [ngClass]="{'tab-selected': page === 'orders'}">
      <ion-icon name="calendar-outline"></ion-icon>
     
    </ion-tab-button>

    <ion-tab-button tab="wallet"  [ngClass]="{'tab-selected': page === 'wallet'}">
      <ion-icon name="wallet-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile"  [ngClass]="{'tab-selected': page === 'profile'}">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<app-language></app-language>