<div class="ion-page" id="main-content">

  <ion-header class="ion-padding">
    <app-header Method="Review"></app-header>
  </ion-header>
  <ion-content class="ion-padding">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/ce/8e/78/the-red-fort-is-a-historic.jpg"
      class="card-img-top rounded" alt="Designer desk">
    <div class="d-flex justify-content-between align-items-center my-3">
      <div class="t-blue Lato600 fs-18">Delhi to Agra Tour </div>
      <div class="t-green Lato600 fs-18">₹ 20,000 </div>
    </div>
    <div>
      <div class="d-flex">
        <button class="btn btn-primary text-dark mr-2 mb-2 my-1 Lato400 fs-14" type="button">Overview</button>
        <button class="btn btn-primary text-dark mr-2 mb-2 my-1 Lato400 fs-14" type="button">Itinerary</button>
        <button class="btn btn-primary text-dark mr-2 mb-2 my-1 Lato400 fs-14 ms-3" type="button">Review and
          Ratings</button>
      </div>
      <div>
        <app-photo-gallery></app-photo-gallery>
        <div class="mt-4">
          <div class="wrapper ms-2">
            <ul class="StepProgress">
              <li class="StepProgress-item current" >
                <strong>Delhi Flight Landed at Delhi</strong>
                
              </li>
            
              <li class="StepProgress-item " >
                <strong>Tour guests will arrive at Delhi  </strong>
                <span>
                  <div class="Lato500 fs-13 t-grey mt-1">airport as per their scheduled flight.</div>
                </span>
              </li>
              <li class="StepProgress-item " >
                <strong>Dinner</strong>
                <span>
                  <div class="Lato500 fs-13 t-grey mt-1">Dry Snack En Rout To Agra</div>
                </span>
              </li>
             
              <li class="StepProgress-item ">
                <strong>Delivered</strong>
              </li>
            </ul>
          </div>
        </div>
        <div class="card bg-primary shadow-soft border-light mt-4">
          <div class="Lato400 fs-18 px-3 py-2">Billing Summary</div>
          <div class="d-flex justify-content-between align-items-center px-3 py-1">
            <div class="Lato400 fs-14">Taxi Fare</div>
            <div>$20</div>
          </div>
          <div class="d-flex justify-content-between align-items-center px-3 py-1">
            <div class="Lato400 fs-14">Taxi Fare</div>
            <div class="Lato400 fs-14">$20</div>
          </div>
          <div class="d-flex justify-content-between align-items-center px-3 py-1">
            <div class="Lato400 fs-14">Taxi Fare</div>
            <div class="Lato400 fs-14">$20</div>
          </div>
          <div class="d-flex justify-content-between align-items-center px-3 py-1">
            <div class="Lato400 fs-14">Taxi Fare</div>
            <div class="Lato400 fs-14">$20</div>
          </div>
          <div class="d-flex justify-content-between align-items-center px-3 py-1">
            <div class="Lato400 fs-14">Taxi Fare</div>
            <div class="Lato400 fs-14">$20</div>
          </div>
          <div class="d-flex justify-content-between align-items-center px-3 py-1">
            <div class="Lato400 fs-14">Taxi Fare</div>
            <div class="Lato400 fs-14">$20</div>
          </div>
          <div class="d-flex justify-content-between align-items-center px-3 py-3">
            <div class="Lato400 fs-16">Total Amount</div>
            <div class="Lato400 fs-16">₹1200</div>
          </div>
          <div class="text-success Lato400 fs-15 px-3 pb-3">Yay! Your Total discount is ₹350</div>
        </div>
      </div>
      <button class="btn btn-primary text-dark w-100 mb-5 mt-3" type="button">Book This Tour</button>
    </div>
  </ion-content>
  <app-footer></app-footer>
</div>